<header class="sidebar">
    <div class="logo">
        <img src="/public/assets/logo_saga_blanco.png" width="110px" height="90px">
        <br>
        <small>Sistema Automatizado de Gestión de Asistencias</small>
    </div>

    <ul class="nav flex-column mt-4">
        <li class="nav-item">
            <a href="/public/src/views/ciudadanos.html" class="nav-link">Ciudadanos</a>
        </li>
        <li class="nav-item">
            <a href="/public/src/views/registros.html" class="nav-link">Registros</a>
        </li>
        <li class="nav-item">
            <a href="/public/src/views/reuniones.html" class="nav-link">Reuniones</a>
        </li>
        <li class="nav-item">
            <a href="/public/src/views/reportes.html" class="nav-link">Reportes</a>
        </li>
        <li class="nav-item mt-3">
            <button type="button" id="btnCerrarSesion" class="nav-link btn btn-link text-start w-100 p-0 border-0">
                Cerrar sesión
            </button>
        </li>
    </ul>
</header>