<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunidad — Acceso</title>
  <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>
<body>

  <div class="login-page">
    <div class="card">
      <div class="card__inner"> 
        <div class="card__logo">
          <img src="/public/assets/logo_saga_azul.png" width="110px" height="90px">
        </div>
        
        <form>
          <div class="form-group">
            <input id="usuario" name="usuario" type="text" placeholder="Ingresa tu usuario" autocomplete="username" />
          </div>
          <div class="form-group">
            <input id="contrasena" name="contrasena" type="password" placeholder="Ingresa tu contraseña" autocomplete="current-password" />
          </div>
          <button type="submit">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
  <script src="../public/js/buscador.js"></script>
</body>
</html>